.bg {
    padding: 20px;
    background-color: #aaa;
    height: 100vh;

    .title {
        line-height: 60px;
        text-align: center;



        font: bold 200% Consolas, Monaco, monospace;
        /*width: 8.25em;*/
        white-space: nowrap;
        overflow: hidden;
        border-right: .05em solid;
        animation: typing 3s linear,
            caret 1s steps(1) infinite;

    }

    .inp {
        margin: 20px auto;
        width: 300px;
        border: 1px solid #aaa;
        padding: 10px;
        border-radius: 5px;
        box-shadow: 0 0 5px 1px #fff;
        background-color: transparent;
        font-size: 20px;

        p {
            display: inline-block;
            border-right: .05em solid;
            animation: caret 1s steps(1) infinite;

            span {
                position: relative;
                transition: color .1s;
                color: #fff;
                text-shadow: 0 0 5px #fff;
                animation: o .3s forwards;
            }
        }
    }
}

@keyframes typing {
    0% {
        width: 0
    }

}

@keyframes caret {
    50% {
        border-right-color: transparent;
    }
}



@keyframes o {
    0% {
        transform: translate(-30px, -22px);
        opacity: 1
    }

    25% {
        transform: translate(-30px, 13px);
        color: red;
        opacity: 0
    }

    55% {
        transform: translate(0, 13px);
        opacity: 0
    }

    56% {
        transform: translate(0, 13px);
        color: red
    }

    66% {
        color: red
    }

    to {
        color: #fff;
        transform: translate(0, 0)
    }
}